extends layout

block navigation-unreg
block navigation-org
block navigation-particip
block content
    .container
        .row
            .col-10.offset-1
                table.table.table-striped
                    thead.thead-dark
                        th(scope=col)
                        -for (let i = 0; i < commands.tasks_num[0].length; i++)
                            th(scope=col)=i
                    tbody
                        -for (let i = 0; i < commands.name.length; i++)
                            tr
                                th(scope="row")=commands.name[i]
                                    -for (let j = 0; j < commands.answers[i][0].length; j++)
                                        td=commands.answers[i][j]
