extends layout

block kat
    script(src='/javascripts/script.js')
    h1= title
    p Welcome to #{title}, #{name}!
    form(name="registerForm")
        label Name
        br
        input(type="text", name="name")
        br
        label Cabinet
        br
        input(type="number", name="cabinet")
        br
        button#submit(type="submit") Send
    h3 Names
        ul
            -for (let i = 0; i < first_names.length; i++)
                li=first_names[i]


