extends layout

block content
    div.container
        div.row
            div.col-4.offset-4
                h1 Регистрация
        div.row
            div.col-4.offset-4
                div.form-group
                    label Код организатора
                    input#code-organizer(type="text" placeholder="Ваш код")
                button.btn.btn-submit(type="submit") Войти