extends layout

block content
    div.container
        div.row
            div.col-4.offset-4
                h1="Регистрация"
        div.row
            div.col-4.offset-4
                div.form-group
                    label="Код судьи"
                    input#code-judge(type="text" placeholder="Ваш код")
                div.form-group
                    label="Номер кабинета"
                    input#cabinet(type="text" placeholder="Ваш кабинет")
                button.btn.btn-submit(type="submit") Войти