extends layout

block navigation-org
block navigation-judge
block navigation-particip

block content
    .container
        .row
            .col-4.offset-4
                h1 Вход
        .row
            .col-4.offset-4
                form.needs-validation
                    .form-group
                        label="Код судьи"
                        input#code-judge.form-control(type="password" placeholder="Ваш код" maxlength=8 required)
                    .form-group
                        label="Номер кабинета"
                        input#cabinet.form-control(type="text" placeholder="Ваш кабинет" required)
                    button#login-judge.btn.btn-submit.badge-primary(type="submit") Войти