extends layout

block navigation-org
block navigation-judge
block navigation-particip

block content
    script( src="/javascripts/scriptloginjudge.js" type="text/javascript")
    .container
        .row.mt-4
            .col-lg-4.col-md-6.col-sm-10.offset-lg-4.offset-md-3.offset-sm-1
                h1 Вход
        .row
            .col-lg-4.col-md-6.col-sm-10.offset-lg-4.offset-md-3.offset-sm-1
                form.needs-validation
                    .form-group
                        label="Номер кабинета"
                        select.form-control(autocomplete='off' id='cnum')
                            -for(let i = 0; i < cabinets.length; i++)
                                option(value=i+1 )=cabinets[i]
                    .form-group
                        label="Код судьи"
                        input#code-judge.form-control(type="password" placeholder="Ваш код" maxlength=8 required)
                    button#login-judge.btn.btn-submit.badge-primary.col-12(type="submit") Войти