extends layout

block navigation-org
block navigation-judge
block navigation-particip

block content
    .container
        .row.mt-4
            .col-lg-4.col-md-6.col-sm-10.offset-lg-4.offset-md-3.offset-sm-1
                h1 Вход
        .row
            .col-lg-4.col-md-6.col-sm-10.offset-lg-4.offset-md-3.offset-sm-1
                form.needs-validation
                    .form-group
                        label Код организатора
                        input#code-organizer.form-control(type="password" placeholder="Ваш код" maxlength=8 required)
                    button#loginOrg.btn.btn-primary.badge-primary.col-12(type="submit") Войти