extends layout

block navigation-org
block navigation-judge
block navigation-particip

block content
    .container
        .row
            .col-4.offset-4
                h1 Вход
        .row
            .col-4.offset-4
                form.needs-validation
                    .form-group
                        label Код участника
                        input#code-particip.form-control(type="password" placeholder="Ваш код" maxlength=8 required)
                    button#login-particip.btn.btn-primary.badge-primary(type="submit") Войти