extends layout

block navigation-org
block navigation-judge
block navigation-particip

mixin command
    .form-inline
        .form-group
            label Название комманды *
            input#command-name.form-control(type="text" placeholder="Название комманды" required)
        .form-group
            label Лига *
            select.form-control(#league required)
                option 1
                option 2
                option 3
                option 4
    .form-group
        h6 Список участников *
        .form-inline
            input(type="text" placeholder="ФИО участника 1")
            input(type="text" placeholder="Класс участника 1")
        .form-inline
            input(type="text" placeholder="ФИО участника 2")
            input(type="text" placeholder="Класс участника 2")
        .form-inline
            input(type="text" placeholder="ФИО участника 3")
            input(type="text" placeholder="Класс участника 3")
        .form-inline
            input(type="text" placeholder="ФИО участника 4")
            input(type="text" placeholder="Класс участника 4")
        .form-inline
            input(type="text" placeholder="ФИО участника 5")
            input(type="text" placeholder="Класс участника 5")
        .form-inline
            input(type="text" placeholder="ФИО участника 6")
            input(type="text" placeholder="Класс участника 6")


block content
    .container
        .row
            .col-md-10.offset-md-1.col-xs-10.offset-xs-1
                h1="Регистрация"
                p Заполните, пожалуйста, все поля интерактивной анкеты помеченные знаком "*".
        form.needs-validation
            .row
                .col-md-8.offset-md-1.col-xs-10.offset-xs-1
                    .form-inline
                        .form-group
                            label Город *
                            input#city.form-control(type="text" placeholder="Ваш город" required)
                        .form-group
                            label Школа *
                            input#school.form-control(type="text" placeholder="Название школы" required)
                    .form-inline
                        .form-group
                            label Руководитель
                            input#leader.form-control(type="text" placeholder="ФИО руководителя")
                        .form-group
                            label Телефон
                            input#telephone.form-control(type="tel" placeholder="Телефон руководитея")
            <!---- Сделать добавление вкладки для регистрации второй комманды ---->
            .row
                .col-10.offset-1
                    nav
                        .nav.nav-tabs( id="nav-tab" role="tablist")
                            a.nav-item.nav-link.active( id="command-1" data-toggle="tab" href="#profile-command-1" role="tab" aria-controls="profile-command-1" aria-selected="true" ) Комманда 1
                            a.nav-item.nav-link( id="add-command" data-toggle="tab" href="#add-command-profile" role="tab" aria-controls="add-command-profile" aria-selected="false") +
                    .tab-content( id="myCommandContent" )
                        .tab-pane.fade.show.active( id="profile-command-1" role="tabpanel" aria-labelledby="command-1")
                            +command
                        .tab-pane.fade( id="add-command-profile" role="tabpanel" aria-labelledby="add-command") ...
                            +command
                        <!---- Сделать модальное окно "Ваша заявка принята"---->
            .row
                .col-md-8.offset-md-1.col-xs-10.offset-xs-1
                    .form-check
                        input.form-check-input(#consent type="checkbox" value="" required)
                        p Я даю согласие на обработку персоональных данных
            .row
                .col-md-8.offset-md-1.col-xs-10.offset-xs-1
                    button#btn-reg.btn.btn-primary.badge-primary(type='submit') Отправить