extends layout

block navigation-org
block navigation-judge
block navigation-particip

mixin command
    .form-inline.mt-2
        .form-group.col-lg-6.col-md-6.col-xs-12
            label Название комманды *
            input#name.form-control(type="text" placeholder="Название комманды" required)
        .form-group.col-lg-6.col-md-6.col-xs-12
            label Лига *
            select#league.form-control(required)
                -for(let i = 0; i < leagues.length; i++)
                    option(value=i + 1 )=leagues[i]
    .form-group.mt-1
        h6 Список участников *
        .form-inline.mt-2
            input.col-lg-8.col-md-8.col-xs-12.form-control.particip(type="text" autocomplete='off' placeholder="ФИО участника 1")
            input.col-md-4.form-control.grade(type="text" autocomplete='off' placeholder="Класс участника 1")
        .form-inline.mt-2
            input.col-lg-8.col-md-8.col-xs-12.form-control.particip(type="text" autocomplete='off' placeholder="ФИО участника 2")
            input.col-md-4.form-control.grade(type="text" autocomplete='off' placeholder="Класс участника 2")
        .form-inline.mt-2
            input.col-lg-8.col-md-8.col-xs-12.form-control.particip(type="text" autocomplete='off' placeholder="ФИО участника 3")
            input.col-md-4.form-control.grade(type="text" autocomplete='off' placeholder="Класс участника 3")
        .form-inline.mt-2
            input.col-lg-8.col-md-8.col-xs-12.form-control.particip(type="text" autocomplete='off'  placeholder="ФИО участника 4")
            input.col-md-4.form-control.grade(type="text" autocomplete='off' placeholder="Класс участника 4")
        .form-inline.mt-2
            input.col-lg-8.col-md-8.col-xs-12.form-control.particip(type="text" autocomplete='off' placeholder="ФИО участника 5")
            input.col-md-4.form-control.grade(type="text" autocomplete='off' placeholder="Класс участника 5")
        .form-inline.mt-2
            input.col-lg-8.col-md-8.col-xs-12.form-control.particip(type="text" autocomplete='off' placeholder="ФИО участника 6")
            input.col-md-4.form-control.grade(type="text" autocomplete='off' placeholder="Класс участника 6")


block content
    script( src="javascripts/scriptReg.js" type="text/javascript")
    .container
        .row
            .col-10.offset-1
                h2="Регистрация"
        .row
            .col-10.offset-1
                p Заполните, пожалуйста, все поля, помеченные знаком "*".
        .row
            .col-10.offset-1
                form.needs-validation
                    .form-inline.mt-2
                        .form-group.col-lg-6.col-md-6.col-xs-12
                            label Город *
                            input#city.form-control(type="text" placeholder="Ваш город" required)
                        .form-group.col-lg-6.col-md-6.col-xs-12
                            label Школа *
                            input#school.form-control(type="text" placeholder="Название школы" required)
                    .form-inline.mt-2
                        .form-group.col-lg-6.col-md-6.col-xs-12
                            label Руководитель
                            input#head.form-control(type="text" placeholder="ФИО руководителя")
                        .form-group.col-lg-6.col-md-6.col-xs-12
                            label Телефон
                            input#phone.form-control(type="tel" placeholder="Телефон руководитея")
                    <!---- Сделать добавление вкладки для регистрации второй комманды ---->
                    +command
                            <!---- Сделать модальное окно "Ваша заявка принята"---->
                    .form-check
                        input.form-check-input(#consent type="checkbox" value="" required)
                        p Я даю согласие на обработку персоональных данных
                    button.mr-1#btn-reg.col-4.btn.btn-primary.badge-primary(type='submit') Отправить
                    button#cencel-reg.btn.btn-psecondary.badge-secondary(type='reset') Отмена