extends layout

block content
    div.container
        div.row
            div.col-10.offset-1
            div.list-group
                a.list-group-item.list-group-item-action(href="#") Время и место проведения
                a.list-group-item.list-group-item-action(href="#") Кабинеты
                a.list-group-item.list-group-item-action(href="#") Лиги
                a.list-group-item.list-group-item-action(href="#") Задачи
                a.list-group-item.list-group-item-action(href="#") Участники
                a.list-group-item.list-group-item-action(href="#") Судьи