extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    div.container
        div.row
            div.col-10.offset-1
                div#list-tab.list-group( role="tablist" )
                    <!---- Время и место при нажатии на клавишу сделать дивом в этом же окне ---->
                    a.list-group-item.list-group-item-action(id="data-time-input" data-toggle="list" href="#data-home" role="tab" aria-controls="home") Время и место проведения
                    a.list-group-item.list-group-item-action(href="/tcabinets") Кабинеты
                    a.list-group-item.list-group-item-action(href="/tleague") Лиги
                    a.list-group-item.list-group-item-action(href="/ttask") Задачи
                    a.list-group-item.list-group-item-action(href="/tparticip") Участники
                    a.list-group-item.list-group-item-action(href="/tjudge") Судьи
        div.row
            div.col-10.offset-1
                div#nav-tabContent.tab-content
                    div.tab-pane.fade.show( id="data-home" role="tabpanel" aria-labelledby="data-time-input")
                        form
                            div.form-group
                                lable Дата проведения
                                input#data(type="date")
                            div.form-group
                                lable Время проведения
                                input#time(type="time")
                            div.form-group
                                lable Место проведения
                                input#location(type="text" placeholder="Введите место")
                            button#saveDataTimeLocation.btn.btn-primary(type="submit") Сохранить









