extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    .container
        .row
            .col-10.offset-1.mt-4
                h2 Кабинеты и судьи
        form.needs-validation
            .row
                .col-10.offset-1
                    table.table.table-striped
                        thead.table-dark
                            tr
                                th( scope="col" ) Судья
                                th( scope="col" ) Кабинет
                        tbody
                            - for (let i = 0; i < judges.name.length; i++)
                                tr
                                    th( scope='row' )=judges.name[i]
                                    td
                                        select.form-control(autocomplete='off')
                                            - for (let j = 0; j < cabinets.length; j++)
                                                - if (cabinets[j] === judges.cabinet[i])
                                                    option(selected value=j + 1)=cabinets[j]
                                                -else
                                                    option(value=j + 1)=cabinets[j]

            .row
                .col-10.offset-1.mt-1
                    button.mr-1#save-judge.btn.btn-primary( type="submit" ) Сохранить
                    button#cancel-judge.btn.btn-secondary( type="reset" ) Отмена