extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    div.container
        div.row
            div.col-6.offset-3
                h2 Кабинеты
        div.row
            div.col-10.offset-1
                form.needs-validation
                    h4 Добавить кабинет
                        div.cabinet
                            div.add-cabinet +
                        div.row
                            div.col-10.offset-1
                                .btn-group
                                    button#save-cabinet.btn.btn-primary(type="submit") Сохранить изменения
                                    button#cancel-cabinet.btn.btn-secondary(type="reset") Отмена