extends layout

block content
    div.container
        div.row
            div.col-6.offset-3
                h2 Кабинеты
        form
        div.row
            div.col-10.col-1
                div.cabinet Добавить кабинет
                    div.add-cabinet +
        div.row
            div.col-7
                button#saneCabinets.btn.btn-primary(type="submit") Сохранить