extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    script( src="/javascripts/scriptComCab.js" type="text/javascript")
    .container
        .row
            .col-10.offset-1.mt-4
                h2 Комманды и кабинеты
        form.needs-validation
            .row
                .col-10.offset-1
                    table.table.table-striped
                        thead.table-dark
                            tr
                                th( scope="col" ) Команда
                                th( scope="col" ) Кабинет
                        tbody
                            - for (let i = 0; i < commands.name.length; i++)
                                tr
                                    th( scope='row' )=commands.name[i]
                                    td
                                        select.form-control(autocomplete='off')
                                            - for (let j = 0; j < cabinets.length; j++)
                                                -console.log(i,j,cabinets[j], commands.cabinet[i], cabinets[j] === commands.cabinet[i])
                                                - if (cabinets[j] === commands.cabinet[i])
                                                    option(selected value=j+1)=cabinets[j]
                                                -else
                                                    option(value=j+1)=cabinets[j]


            .row
                .col-10.offset-1.mt-1
                    button.mr-1#saveComCab.btn.btn-primary( type="submit" ) Сохранить
                    button#cancelComCab.btn.btn-secondary( type="reset" ) Отмена