extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    script( src="javascripts/scriptLeague.js" type="text/javascript")
    .container
        .row
            .col-10.offset-1.mt-4
                h2 Лиги