extends layout

block content
    div.container
        div.row
            div.col-10.offset-1
                h2 Лиги
        form
        div.row
            div.col-10.col-1
                div.league
                    h4 Добавить лигу
                    div.input-leagaue
                        input#league-1(type="text" placeholder="Номер лиги")
                    div.add-league +
        div.row
            div.col-7
                button#saveLeague.btn.btn-primary(type="submit") Сохранить