extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    .container
        .row
            .col-10.offset-1
                h2 Лиги
        form.needs-validation
            .row
                .col-10.offset-1
                    .league
                        h4 Добавить лигу
                        .input-leagaue
                            input.form-control( type="text" placeholder="Номер лиги" )
                        .add-league +
            .row
                .col-10.offset-1
                    button#save-league.btn.btn-primary( type="submit" ) Сохранить
                    button#cancel-league.btn.btn-secondary( type="reset" ) Отмена