extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    script( src="javascripts/scriptLeague.js" type="text/javascript")
    .container
        .row
            .col-10.offset-1.mt-4
                h2 Лиги
        form.needs-validation
            .row
                .col-10.offset-1
                    .league
                        h4 Добавить лигу
                        -for (let i = 0; i < names.length; i++)
                            .input-leagaue
                                input.form-control( type="text" placeholder="Номер лиги" autocomplete="off" id='leag'+i value=names[i])
                        .add-league +
            .row
                .col-10.offset-1.mt-1
                    button.mr-1#save-league.btn.btn-primary( type="submit" ) Сохранить
                    button#cancel-league.btn.btn-secondary( type="reset" ) Отмена